<p>
    User {{user.display_name}} has invited you to join the team
    <strong>{{team.sluglified_name}}</strong>
    with the role
    <strong>{{roles}}</strong>.
    <ahref='{{frontendUrl}}/{{organization.sluglified_name}}/team/{{team.sluglified_name}}/invitation/{{invitation.id}}'>Open invitation</a>
</p>