<p>
    New discussion
    <a href='{{frontendUrl}}/{{organization.sluglified_name}}/{{team.sluglified_name}}/discussions/{{discussion.id}}'>{{discussion.title}}</a>
    created on team
    <strong>{{team.display_name}}</strong>
</p>