<p>
    User
    {{creator.display_name}}
    mentioned
    {{users}}
    in the discussion
    <a href='{{frontendUrl}}/{{organization.sluglified_name}}/{{team.sluglified_name}}/discussions/{{discussion.id}}'>{{discussion.title}}</a>
</p>