<p>
    Updated report
    <a href='{{frontendUrl}}/{{organization.sluglified_name}}/{{team.sluglified_name}}/{{report.sluglified_name}}'>{{report.title}}</a>
    of the team
    <strong>{{team.display_name}}</strong>
</p>